
body {
    background-image: url(picture/answer.webp);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

#failed { 
    position: absolute;
    top: 9%;
    transform: translate(-50%,-50%);
    object-fit: contain;
    color: white;
    font-size: 70px;
    width: 30%;
    height: 70px;
    left: 55%;
}
#present { 
    position: absolute;
    top: 35%;
    transform: translate(-50%,-50%);
    object-fit: contain;
    color: white;
    font-size: 70px;
    width: 45%;
    height: 70px;
    left: 56%;
}

#return {
    position: absolute;
    top: 60%;
    transform: translate(-50%,-50%);
    object-fit: contain;
    color: black;
    font-size: 30px;
    width: 30%;
    height: 20%;
    left: 85%;
}

#mino {
    position: absolute;
    top: 60%;
    transform: translate(-50%,-50%);
    object-fit: contain;
    color: black;
    font-size: 30px;
    width: 20%;
    height: 20%;
    left: 47%;
}

#hosoku  {
    position: absolute;
    top: 100%;
    transform: translate(-50%,-50%);
    object-fit: contain;
    color: white;
    font-size: 15px;
    width: 100%;
    height: 8%;
    left: 50%;
}